.layui-col-md4
  .layui-card
    .layui-card-header 公告
    .layui-card-body
      |晓风哥哥个人博客
      <br>
      |座右铭：现在不玩命，将来命玩你 ！！！
      <br>
      |付出不亚于任何人的努力
  .layui-card
    .layui-card-header 友情链接
    .layui-card-body
      a(href="//xiaofenggege.com/" target='_blank') &nbsp;晓风个人博客（测试版）&nbsp;
      <br>
      a(href="//web.tanzhouedu.com//" target='_blank') &nbsp;咸鱼联盟&nbsp;
      <br>
      a(href="//aliyun.com//" target='_blank') &nbsp;阿里云&nbsp;
      <br>
      a(href="//www.h-ui.net/Hui-3.7-icon.shtml" target='_blank') &nbsp;UI前端框架&nbsp;
      <br>
      a(href="//github.com/markyun/My-blog/tree/master/Front-end-Developer-Questions/Question//" target='_blank') &nbsp;前端面试题&nbsp;